ize: 50pt;
}
#zx
{
	float: left;
}
nav 
{
	font-size: 20pt;
} 
table {border: 1px solid grey; margin: auto;color:#1E0BF4;}
th {border: 1px solid grey;color: #1E0BF4;}
td {border: 1px solid grey;color: #1E0BF4;}
.content 
{
	background-color: #2c3e50;
	text-align: center;
	max-width: 960px;     width: 60%;     margin-left: 20%;     margin-right: 20%;
}
li
{
	text-align: left;
}

a
{
	color: black;
}
footer
{
	background: #2c3e50;
	font-size: 20pt;
	width: 100%;
	height: 35px;
	color: #689996;
}
.nechet
{
	background-color: #F72690;
}
.chet
{
	background-color: #12F346;
}
#vhod{
  text-align: right;
  font-size: 20px;
}